/**
 * Stylesheet for the modal dialog.
 */

.modal-ready-contents {
  position: relative;
  padding: 20px;
  max-width: 400px;
  height: 100%;
  margin: auto;
}

.modal-ready-popup {
  position: fixed;
  max-width: 400px;
  min-width: 250px;
  left: 35%;
  top: 30%;
  height: auto;
  visibility: hidden;
  opacity: 0;
  z-index: 2000;
  padding: 20px;
  background: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.modal-ready-popup-animate {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-ready-popup.no-transition {
  -webkit-transition: none;
  transition: none;
}

.modal-footer {
  text-align: right;
  border-top: 1px solid #ddd;
}

.modal-ready-popup .modal-footer {
  padding: 15px;
}

.modal-ready-popup button {
  border-color: #bbb;
  background-image: none;
  font-weight: bold;
}

.modal-ready-popup button:hover {
  background-color: #d8d8d8;
  text-decoration: none;
}

.modal-ready-popup button + button {
  margin-left: 5px;
}

.modal-ready-popup .btn-action {
  color: #fff;
  background-color: #0271bf;
  background-repeat: repeat-x;
}

.modal-ready-popup .btn-action:active, .modal-ready-popup .btn-action:focus,
.modal-ready-popup .btn-action:hover {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  background: #357ae8;
  border: 1px solid #2f5bb7;
  border-top: 1px solid #2f5bb7;
}

.modal-kd-butterbar {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 10px;
  padding: 0 10px 7px;
  background: #F9EDBE;
  border: 1px solid #F0C36D;
  margin-bottom: -15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-left: -190px;
  visibility: hidden;
  opacity:0;
  -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  -webkit-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-transition: opacity 1s, -webkit-transform 0 linear 1s, left 0 linear 1s;
  transition: opacity 0.130s;
}

.modal-kd-butterbar.shown {
  position: fixed;
  visibility: visible;
  opacity:1;
  -webkit-transform:scale(1.00);
  transform:scale(1.00)
  -webkit-transition: all 0.130s, left 0 linear 0;
  transition: all 0.218s, left 0;
}

.modal-kd-butterbar p {
  margin-bottom:0;
  line-height:29px;
  font-size:11px;
}

.modal-kd-butterbar a {
  color:#333;
  text-decoration:underline;
}

.modal-kd-butterbar a:hover {
  color:#202020;
}

.modal-kd-butterbar.mini {
  margin-bottom: -5px;
}

.modal-kd-butterbar.mini p {
  line-height: 19px;
}